@model IEnumerable<Movie.Site.Models.Movies>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#f00;"><b><b><i>-FİLMLER-</i></b></b></h1>
<marquee behavior=alternate bgcolor="#99FFFF">İYİ SEYİRLER...İYİ İYİ SEYİRLER...İYİ SEYİRLER...İYİ SEYİRLER...İYİ SEYİRLER...İYİ SEYİRLER...İYİ SEYİRLER...İYİ SEYİRLER...İYİ SEYİRLER</marquee>
<br />

<table class="table table-responsive-md">
    <thead>
        <tr class="font-italic bg-light">
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieType)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="font-italic">
                <td class="alert-link">
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieType)
                </td>
            </tr>
        }
    </tbody>
</table>





